@import 'landing'; 
@import 'config'; 
@import 'responsive'; 
@import 'dropdown'; 
@import 'socials'; 
@import 'subnav'; 
@import 'hamburgerevent';

* {
    margin: 0; 
    padding: 0; 
}; 


body {
    font-family: 'Abhaya Libre Medium';
  }; 